<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form_styles.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  </head>
   <body>
     <div class="form-style-8">
       <h2><b>SIMVAULT</b> <i>View/Update</i></h2>

       <form action="" id="edit_details_form">

	     <input type="text" name="actor_name" placeholder="Login Name*" required/>
	     <input type="password" name="actor_password" placeholder="Login Password*" required/>
	     <input type="submit" value="view" placeholder="View"/>
	     <input type="button" value="cancel" placeholder="Cancel" onclick="render_home();"/>
	     <select name="app_name" id="app_name" onchange="load_edit_pane();"></select>

	     <div id="edit_pane" hidden="true">
		  <input type="text" id="userid" name="user_id" placeholder="User ID*"/>
		  <input type="text" id="username" name="user_name" placeholder="User Name" />
		  <div id="password_div">
		    <input type="password" id="password" name="password" placeholder="Password*"/>
		    <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
		  </div>
		  <input type="date" id="passwordexpiry" name="password_expiry" placeholder="Password Expiry" />
		  <input type="text" id="crn" name="crn" placeholder="Customer Relationship Number (CRN)" />
		  <input type="password" id="profilepassword" name="profile_password" placeholder="Profile Password" />
		  <input type="url" id="url" name="url" placeholder="Website URL" />
		  <textarea placeholder="Remarks" id="remarks" onkeyup="adjust_textarea(this)"></textarea>
		  <input type="text" name="is_active" id="active" placeholder="Active profile (Y/N)" onkeyup="validate_active();"/>
		  <input type="text" name="customer_care_number" id="customercarenumber" placeholder="Customer Care Number" />

		  <input type="button" value="submit" placeholder="submit" onclick="update_profile();"/>
		  <input type="button" value="cancel" placeholder="Cancel" onclick="render_home();"/>
		  <input type ="text" id="showresults" placeholder="Result" readonly>
	     </div>

       </form>

    <script src="{{ url_for('static',filename='form_actions.js') }}"> </script>
   </body>
</html>
