<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form_styles.css') }}">
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="{{ url_for('static',filename='form_actions.js') }}"> </script>
  </head>
   <body>      
     <div class="form-style-8">
       <h2>Secure your password</h2>
       
       <form action="" id="password_form">

	     <input type="text" name="field1" placeholder="Application Name" />
	     <input type="email" name="field2" placeholder="Email" />
	     <input type="url" name="field3" placeholder="Website URL" />
	     <input type ="password" name="field4" placeholder="Password" />
	     <textarea placeholder="Remarks" onkeyup="adjust_textarea(this)"></textarea>
	     <input type="submit" value="submit" placeholder="Save"/>
  
       </form>

   </body>
</html>
